<div id="title">
    <div id="title-filter">
        <h1>Software Engineering Best Practices<br/> for Busy Experts</h1>
        <h3>A professional development course from Thomas Kiley</h3>
        <h2>Get in touch</h2>
        <h5>Up-skill your scientists, engineers and other domain experts with proven practices from the software industry.
           Your colleagues may know how to write code, but are they doing it in the most effective way? 
           This course teaches busy experts the most important software engineering best practices to help them write correct code more efficiently.</h5>
    </div>
</div>