:root {
    --french-grey: #CBD1E1;
    --mint-cream: #f7fff7;
    --oxford-blue: #101935;
    --rich-black: #04080f;

    --body-font: Mukta, sans-serif;
    --name-font: var(--header-font);
    --header-font: Nanum Gothic, sans-serif;
    --pull-quote-font: var(--body-font);
    --background-colour: var(--mint-cream);
    --body-background-colour: var(--mint-cream);
    --header-background-colour: var(--oxford-blue);
    --pull-quote-background-colour: var(--french-grey);
    --summary-background-colour: var(--body-background-colour);
    --link-colour: var(--oxford-blue);
    --alternate-link-colour: var(--oxford-blue);
    --pull-quote-link-colour: var(--oxford-blue);
    --body-colour: var(--rich-black);
    --name-colour: var(--mint-cream);
    --header-colour: var(--mint-cream);
    --pull-quote-colour: var(--rich-black);
    --summary-colour: var(--link-colour);
    --header-font-weight: bold;
    --name-font-weight: bold;
    --pull-quote-font-weight: thin;
    --em-font-weight: bolder;
}

html {
    font-family: var(--body-font);
    background-color: var(--background-colour);
    font-size: 1.7em;
}

p {
    color: var(--body-colour);
}

h1, h2, h3, #header {
   font-family: var(--header-font);
   font-weight: var(--header-font-weight);
}

em {
    font-style: normal;
    font-weight: var(--em-font-weight);

}

a {
    color: var(--link-colour);
}

a:hover {
    color: var(--body-background-colour);
    background-color: var(--link-colour);
}

.centre {
    margin: auto;
    width: 60%;
    background-color: var(--body-background-colour);
}



#title {
    background-image: url("../images/oxford.jpeg");
    background-size: cover;
    color:var(--header-colour);
    text-align: center;
    min-height: 100vh;
}

#title-filter
{
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    backdrop-filter: brightness(0.7) blur(2px);
}

#title h1 {
    font-size: 2.2rem;
    font-weight: var(--header-font-weight);
    color: var(--header-colour);
    margin:0;
}

#title h2 {
    font-size: 1.1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 14em;
    margin-right: 14em;
    padding: 5px;
    
    border-color: var(--header-colour);
    border-style: solid;
    border-radius: 4px;

    background-color: var(--link-colour);
}

#title h5 {
    color: var(--header-colour);
    font-weight: normal;
}

h2 {
    margin:0;
    font-size: 1.9em;
}

#name
{
    background-color: var(--name-background-colour);
    text-align: left;

    margin: 0;
    flex: 1;

}

#name h2
{
    font-family: var(--name-font);
    font-weight: var(--name-font-weight);
    font-size: 1.2rem;
    vertical-align: middle;
}

#contact-details
{
    flex: 1;
    margin:0;
    text-align: right;
    // line-height: 46px;
    background-color: var(--name-background-colour);
    font-size: 1.2em;
}

#contact-details ul
{
    margin: 0;
    list-style-type: none;
    background-color: var(--name-background-colour);

}



p, h1 {
        padding-left: 1cm;
        padding-right: 1cm;

}

#content h2
{
    background-color: var(--header-background-colour);
    color: var(--header-colour);
    padding-top:3em;
    padding-bottom: 0.5em;
}

#content h3
{
    background-color: var(--header-background-colour);
    color: var(--header-colour);
    padding-top:2em;
    padding-bottom: 0.75em;
}

#content strong
{
    font-size: 1.1em;
    text-align: right;
    float:right;
    background-color: var(--pull-quote-background-colour);
    border-style: solid;
    border-color: var(--pull-quote-background-colour);
    font-family: var(--pull-quote-font);
    font-weight: var(--pull-quote-font-weight);
    color: var(--pull-quote-colour);
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding-left: calc(1cm);
    padding-right: calc(1cm);
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-left:-1cm;
    margin-right: -1cm;
}

#content strong a
{
    color: var(--pull-quote-link-colour);
}

#content strong a:hover
{
    color: var(--body-background-colour);
    background-color: var(--pull-quote-link-colour);
}

#content blockquote
{
    font-size: 1.5em;
    text-align: right;
    float:right;
    background-color: var(--header-colour);
    color:white;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding: 0.3em;
    padding-right: 0.5em;
}

#content
{
    padding-bottom: 2em;
}

#content ol,ul
{
    line-height: 1.25em;
}

#content ol {
    list-style-type: lower-alpha;
}

#content li {
    padding-right: 1cm;
}

img {
    width: 100%;
    object-fit: cover;
}

.image img {
    height: 100%;
    max-height: 60vh;
    object-position: 0px 40%;
}

.image {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1em;
    margin-top:1em;
}

summary {
    background-color: var(--summary-background-colour);
    color: var(--summary-colour);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1cm;
}

summary:hover {
    background-color: var(--summary-colour);
    color: var(--body-background-colour);
}

/* Fix for services not having a margin below the syllabus box */

#services {
    margin-top: 1cm;
}

sup {
    font-size:0.5rem;
}


.citation {
    font-size: 0.5rem;
    padding-left: 1.7em;
    text-indent:-1.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    /* Ensure citation links don't bust out of the container on narrow devices
       https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.citation:target {
    background-color: #ffa;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

@media only screen and (orientation: landscape), (min-width:1000px) {
    h1, h3, summary, #content h2, #title {
    width: 59vw;
    padding-left: 20vw;
    padding-right:20vw;
    position: relative;
    left: -20vw;
    }
}

@media only screen and (orientation: portrait), (max-width:1000px) {
    .centre {
        width: 100%;
        margin:0;
        min-width: 355px;
        margin-bottom: 0vh;
    }

    h1 {
        padding-top:1em;
    }
}