:root {
    /* Colours */
    --rich-black: #04080f;
    --mint-cream: #F7FFF7;
    --oxford-blue: #1c2d5e;
    --french-grey: #CBD1E1;

    /** Font sizes */
    --body-font-size: 1.7rem;
    --title-font-size: 1.9rem;
    --citation-font-size: 0.5rem;

    /* Page Wide */
    --body-font: Mukta, sans-serif;
    --header-font: Nanum Gothic, sans-serif;
    --body-font-colour: var(--rich-black);
    --body-background-colour: var(--mint-cream);
    --link-font-colour: var(--oxford-blue);

    /* Pull quotes */
    --pull-quote-background-colour: var(--french-grey);
    --pull-quote-font-colour: var(--rich-black);

    /* Page Header */
    --header-font-colour: var(--mint-cream);
    --header-link-hover-background-colour: var(--french-grey);

    /* Sections */
    --section-header-background-colour: var(--oxford-blue);
    --section-header-font-colour: var(--mint-cream);

    /* Seminars */
    --seminar-header-font-colour: var(--mint-cream);
    --seminar-header-background-colour: var(--oxford-blue);
    --summary-font-colour: var(--oxford-blue);
    --summary-link-hover-colour: var(--mint-cream);
}

html {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--body-font-colour);
    background-color: var(--body-background-colour);
}

a {
    color: var(--link-font-colour);
}

a:hover {
    color: var(--body-background-colour);
    background-color: var(--link-font-colour);
}

h1, h2, h3 {
    font-family: var(--header-font);
}

#title {
    background-image: url("../images/oxford.jpeg");
    background-size: cover;
    color: var(--header-font-colour)
}

#title-filter {
    backdrop-filter: brightness(0.7) blur(2px);
}

#title h1 {
    font-size: var(--title-font-size);
}

#title a {
    text-decoration: none;

    border-color: var(--header-font-colour);
    border-style: solid;
    border-radius: 4px;

    background-color: var(--link-font-colour);
    color: var(--header-font-colour);
}

#title a:hover {
    border-color: var(--link-font-colour);
    color: var(--link-font-colour);
    background-color: var(--header-link-hover-background-colour);
}

#content h2 {
    background-color: var(--section-header-background-colour);
    color: var(--section-header-font-colour);
}

#content h3 {
    background-color: var(--seminar-header-background-colour);
    color: var(--seminar-header-font-colour)
}

#content strong {
    background-color: var(--pull-quote-background-colour);
    color: var(--pull-quote-font-colour);
}

#content em {
    font-style: normal;
    font-weight: bold;
}
#content summary {
    color: var(--summary-font-colour);
}

#content summary:hover {
    background-color: var(--summary-font-colour);
    color: var(--summary-link-hover-colour);
}

.citation {
    font-size: var(--citation-font-size);
}