---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
  </head>
  <body>
    <div class="centre">
      <div id="header">
        <div id="name">
          <h2>Thomas Kiley</h2>
        </div>
        <div id="contact-details">
          <ul>
            <li>E: <a href="mailto:hi@tkiley.co.uk">hi@tkiley.co.uk</a></li>
            <li>T: 07948 284729</li>
          </ul>
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
